<div> 
    <h1>Sign Up :</h1>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>User Name</mat-label>
      <input matInput  maxlength="256" placeholder="User Name...">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput  maxlength="256" placeholder="Email@gmail.com">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Phone Number</mat-label>
      <input matInput  maxlength="256" placeholder="Phone Number">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput  maxlength="256" type="password" placeholder="........">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Confirme Password</mat-label>
      <input matInput maxlength="256" type="password" placeholder="........">
    </mat-form-field>
    <button mat-raised-button>Sign Up</button>
  </form>
</div>
