<div>
    <mat-card class="example-card">
    <mat-card-header>
      
      <h1>Bracelet :</h1>
      
    </mat-card-header>
    <img mat-card-image src="/assets/image3.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="d1"><p>
            This product is available in all colors.
          </p></div>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
<div>
    <mat-card class="example-card">
        <mat-card-header>
          
          <h1>Bracelet :</h1>
          
        </mat-card-header>
        <img mat-card-image src="/assets/image4.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <div class="d1"><p>
                This product is available in all colors.
              </p></div>
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>
<div>
    <mat-card class="example-card">
        <mat-card-header>
          
          <h1>Bracelet :</h1>
          
        </mat-card-header>
        <img mat-card-image src="/assets/image5.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <div class="d1"><p>
                This product is available in all colors.
              </p></div>
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>

  
