<div>
    <mat-card class="example-card">
    <mat-card-header>
      
      <h1>Your Opinion :</h1>
      
    </mat-card-header>
    <mat-form-field class="example-full-width">
        <mat-label>Write</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    <mat-card-content>
        <div class="d1"><p>
            Your opinions matter to us.
          </p>
        </div>
      
    </mat-card-content>
    <mat-card-actions class="b1">
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
