<!DOCTYPE html>
<html>
    <head>
        <title>Home page</title>
        <meta charset="utf_8"/>  
        <link rel="preconnect" href="https://fonts.googleapis.com">

    </head>

    <body>
       <div class="div1">
        <img src="/assets/image2.jpg" class="img"> 
       </div >
       <div class="div2">
        <button (click)="goToProd()" class="b1">Produits</button>
        <button (click)="goToOP()" class="b2">Your Opinion</button>
        <p class="p1" >Handmade with love</p>
        
        
        
        <table>
        <tr>
            <td><img src="/assets/fcb.png" class="logo" width="50" height="50"  ></td>
            <td> <p class="p2">Rb Sesters creation</p></td>
        </tr>
        <tr>
            <td><img src="/assets/email.png" class="logo" width="20" height="20" class="footerr1"></td>
            <td> <p class="p2">rb_sesters_creation@gmail.com</p></td>
        </tr>
        <tr>
            <td><img src="/assets/tel.png" class="logo" width="25" height="25" class="footerr1"></td>
            <td><p class="p2">99559992</p>
            </td>
        </tr>
    </table></div>

        
       
        
    </body>
</html>
